*
  font-family: 'Roboto', sans-serif
  color: #061B28

h1, h2
  margin: 0
  padding: 0
  font-family: 'Oswald', sans-serif
  font-style: normal
  font-weight: 600

h2
  font-size: 52px
  line-height: 115%
  color: #061B28

p
  margin: 0

a
  text-decoration: none

ul
  list-style: none
  padding: 0
  margin: 0

button
  cursor: pointer

.container
  max-width: 1170px
  margin-left: auto
  margin-right: auto

.button
  display: flex
  justify-content: center
  align-items: center
  width: 166px
  height: 40px
  border: 2px solid #FCFCFC
  color: #FCFCFC
  font-size: 16px
  line-height: 19px
  transition: all 0.3s
  &-orange
    display: flex
    justify-content: center
    align-items: center
    height: 44px
    border: 3px solid #EC5118
    background-color: #EC5118
    color: #ffffff
    font-weight: 500
    font-size: 16px
    line-height: 140%
  &--dark
    border: 2px solid #061B28
    color: #061B28
